<app-header></app-header>
<app-menu-profe></app-menu-profe>


<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Resumen Académico</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <div class="row">
      <div class="col-lg-4">
          <div class="">
                <h4><b>Nombre Profesor(a):</b> {{ nombres }} {{ apellidos }}</h4>
          </div>
          <div class="">
             <b>Cantidad de ramos impartidos:</b> {{ largo }}
          </div>
          <div class="">
              <b>Cantidad de alumnos aprobados:</b> {{ aprobados }}
          </div>
          <div class="">
              <b>Cantidad de alumnos reprobados:</b> {{ reprobados }}
          </div>
          <div class="">
              <b>Promedio cursos:</b> {{ promedio }}
          </div>
          <br>
          <div class="">
            <a routerLink="/ramos-profesor" class="btn btn-info" type="button" name="button">Detalle Ramos</a>
          </div>
      </div>
      <br>
      <br>
    </div>
    <div>
        <app-chart-donut
        [pieChartLabels]="['Alumnos Aprobados','Alumnos Reprobados']"
        [pieChartData]= "[ aprobados, reprobados]">
        </app-chart-donut>
    </div>
  </div>