<app-header></app-header>
<app-menu-profe></app-menu-profe>


<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Resumen academico</h1>
      </div>
      <!-- /.col-lg-12 -->
  </div>
  <div class="row">
      <div class="col-lg-4">
          <div class="">
              <h4>Nombre Profesor:</h4>
          </div>
          <div class="">
              Cantidad de ramos impartidos: x
          </div>
          <div class="">
              Cantidad de alumnos aprobados: x
          </div>
          <div class="">
              Cantidad de alumnos reprobados: x
          </div>
          <div class="">
              Promedio cursos: x
          </div>
          <div class="">
              Desviación estándar: x
          </div>
          <br>
          <br>
          <br>
          <div class="">
            <a routerLink="/ramos-profesor" class="btn btn-info" type="button" name="button">Detalle Ramos</a>
          </div>
      </div>

      <div class="col-lg-8">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Alumnos aprovados vs reprobados
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="flot-chart">
                      <div class="flot-chart-content" id="alumos-ap-vs-rep"></div>
                  </div>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
    </div>
  </div>