<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
          poner imagen aqui
          <li>
            <a href="home-estudiante.html"><i class="fa fa-home fa-fw"></i> Resumen Academico</a>
          </li>
          <li>
              <a href="detalle-ramos.html"><i class="fa fa-info fa-fw"></i> Detalle ramos</a>
          </li>
      </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->