<app-header></app-header>
<app-menu></app-menu>


<div id="page-wrapper">
  <div class="row">
    <h1 class="page-header">Detalle Ramos Cursados</h1>
  </div>
  <div><p>Seleccione el ramo para más información</p></div>
  <img src="../assets/img/book.png"align="right" width="14%" height="14%" hspace="100">

  <div>
    <ul>
        <li *ngFor="let curso of cursos" (click)="onSelect(curso)"
         (click)="statCurso(curso.course.ordinal, curso.course.subject.code, curso.course.year, $event)">
            <span style="color:cornflowerblue">{{ curso.course.subject.name }}</span>
        </li>

    </ul>
  </div>
 
  
  <div *ngIf="tabla" class="panel panel-default">
    <div class="panel-heading">
        {{ selectedCourse.course.subject.name }}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre Profesor</th>
                        <th>Mi nota</th>
                        <th>Promedio</th>
                        <th>Aprobados</th>
                        <th>Reprobados</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{ selectedCourse.course.teacher.firstName }} {{ selectedCourse.course.teacher.lastName }}</td>
                            <td>mi nota</td>
                            <td>{{ selectedCourse.course.ordinal }}</td>
                            <td>{{ selectedCourse.course.subject.code }}</td>
                            <td>{{ selectedCourse.course.year }}</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
<!-- /.panel -->

</div>