<div class="container">
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">



              <div class="panel-heading" style="text-align: center">
                  <img src="../assets/img/logo.png" align="middle" width="50%" height="50%">
                  <p></p>
                  <h3 class="panel-title" align="justify"><b>Ingrese su Email y se le enviará un correo electrónico para recuperar su contraseña.</b></h3>
              </div>
              <div class="panel-body">
                  <form role="form">
                      <fieldset>
                          <div class="form-group">
                              <input class="form-control" placeholder="Email" name="email" type="email" autofocus>
                          </div>

                          <!-- Change this to a button or input when using this as a form -->
                          <div class="row">
                            <div class="col-lg-6">
                              <a href="login.html" class="btn btn-lg btn-danger btn-block">Atrás</a>
                            </div>
                            <div class="col-lg-6">
                              <a href="correcto.html" class="btn btn-lg btn-info btn-block"><b>Enviar</b></a>

                            </div>
                          </div>
                          </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>