<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <div class="panel-heading" style="text-align:center">
            <img src="../assets/img/logo.png" align="middle" width="50%" height="50%">
        </div>
        <li>
            <a routerLink="/home-profesor"><i class="fa fa-home fa-fw"></i> Resumen Academico</a>
        </li>
        <li>
            <a routerLink="/ramos-profesor"><i class="fa fa-info fa-fw"></i> Detalle ramos</a>
        </li>
      </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->